section#display_messages{

  p{
    color:#ffffff;
  }
  height: 100vh;

  background: url(../../assets/img/Forground.png);
    background-repeat: no-repeat;
    background-size: auto;
    .wrapper {
      margin: auto;
      padding-top: 5%;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
    }

    .fadeIn { animation: fadein 2s; }

   
    /* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}


    .wrapper > div:nth-child(1){
        position: relative;
      
        //top: 200px;
    }

    .wrapper > div:nth-child(2){
        position: relative;
        //top: 300px;
      
    }

    .wrapper > div:nth-child(3){
        position: relative;
        //top: 100px;
    }

    .wrapper > div:nth-child(4){
      
        position: relative;
        //top: 600px;
        //left: -600px;
    }
    .wrapper > div:nth-child(5){
      
        position: relative;
        //top: 20px;
        //left: 200px;
    }
    .wrapper > div:nth-child(6){
        position: relative;
        //top: 200px;
       // left: 105px;
    }
    .wrapper > div:nth-child(7){
        position: relative;
        //top: 50px;
        //left: 105px;
    }
    .wrapper > div:nth-child(8){
        position: relative;
        //top: 450px;
    }
    .wrapper > div:nth-child(9){
        position: relative;
        //top: 150px;
        //left: 585px;
    }
    .wrapper > div:nth-child(10){
        position: relative;
        //top: 300px;
        //left: 845px;
    }
    .wrapper > div:nth-child(11){
      position: relative;
      //top: -280px;
      //right: 200px;
  }
  .wrapper > div:nth-child(12){
    position: relative;
    //top: -280px;
}
.wrapper > div:nth-child(13){
  position: relative;
  //right: 110px;
}
.wrapper > div:nth-child(14){
  position: relative;
 //top: 400px;
 //right: 200px;
}

.wrapper > div:nth-child(15){
  position: relative;
//top:150px;
 //right: 300px;
}
.wrapper > div:nth-child(16){
  position: relative;
//top:10px;
}

.wrapper > div:nth-child(17){
  position: relative;
  //top:240px;
  //left: 1500px;
}
.wrapper > div:nth-child(18){
  position: relative;
  //right: 280px;
}

.wrapper > div:nth-child(19){
  position: relative;
  //top: 100px;
  //right: 50px;
}

  }
